@import "tailwindcss";

:root {
  --background: #f9fafb; /* Fundo cinza bem clarinho (bg-gray-50) */
  --foreground: #111827; /* Texto escuro padrão (text-gray-900) */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
